Binaries/
Build/
Debug/
Intermediate/
Saved/

Content/Collections/
Content/Developers/

Plugins/GStreamerLoader/Binaries/
Plugins/GStreamerLoader/Intermediate/
Plugins/GStreamer/Binaries/
Plugins/GStreamer/Intermediate/

.vs/

*.sln
*.suo
*.sdf
*.opensdf
*.db
*.opendb
*.exe
*.pdb
